.header-panel {
  position: fixed;
  top: 0;
  height: 50px;
  width: 98%;
  display: flex;
  align-items: center;
  padding: 16px;
}

@media (max-width: 1080px) { 
    .header-panel {
        width: 100%;
        margin: 0 auto;
    }
}

.header-panel .header-panel__project-name {
  font-weight: bolder;
  font-size: 32px;
  left: 100px;
  position: relative;
}
