.header-panel {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #04112b;
  color: white;
  z-index: 10;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.3);

}

@media (max-width: 1080px) { 
    .header-panel {
        width: 100%;
        margin: 0 auto;
    }
}

.header-panel .header-panel__project-name {
  font-weight: bolder;
  font-size: 32px;
  left: 100px;
  position: relative;
}
