.ProductsBasket-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    position: relative;
    /* right: 75px; */
    top: 50px;
}
.button-container{
    position: relative;
    width: 130px;
    display: flex;
    border: 1.5px solid black;
    justify-content: center;
    align-items: center;
    
}
.ProductsBasket-middle{
    border: 1.5px solid black;
    width: 366px;
    height: 50px;
    position: relative;
    /* top: 50px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* left: 20px; */
}